atomicwrites==1.4.0
attrs==20.2.0
bitarray==1.2.2
boto3==1.16.9
botocore==1.19.9
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
covidcast==0.0.7
cycler==0.10.0
dataclasses==0.6
delphi-epidata==0.0.6
demjson==2.2.4
diffprivlib==0.3.0
dnspython==1.16.0
editdistance==0.5.3
fasttext==0.9.1
Flask==1.1.2
future==0.18.2
gitdb==4.0.5
GitPython==3.1.0
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==0.17.0
kiwisolver==1.2.0
lmdb==0.98
MarkupSafe==1.1.1
matplotlib==3.2.1
-e git+https://github.com/facebookresearch/mmf.git@3ae71ec1ea72d3cddfe762701762293d806eac91#egg=mmf
mmh3==2.5.1
nltk==3.4.5
numpy==1.18.3
omegaconf==2.0.1rc4
packaging==20.4
pandas==1.0.5
Pillow==8.0.1
pluggy==0.13.1
py==1.9.0
pybind11==2.6.0
pylru==1.2.0
pymongo==3.10.1
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex==2020.10.28
requests==2.23.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.3
sentencepiece==0.1.94
six==1.14.0
sklearn==0.0
smmap==3.0.4
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.6.0+cu101
torchaudio==0.7.0
torchtext==0.5.0
torchvision==0.7.0+cu101
tqdm==4.50.0
transformers==2.3.0
typing-extensions==3.7.4.3
urllib3==1.25.9
Werkzeug==1.0.1
zipp==3.4.0
